.trust {
  width: 100%;
  margin: auto;
}
.trust__title {
  width: 90%;
  margin: auto;
  color: #000;
  font-family: DINPro;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 70px; /* 100% */
}

.card__trust {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.trust__container{
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
.trust__card__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}
.trust__container {
  display: flex;
}

.card__img__trust {
  border-radius: 20px;
  width: 350px;
  height: 270px;
}
.card__title {
  height: 90px;
}
/* Add some padding inside the card container */
.container__trust__text {
  width: 80%;
  height: 100px;
}
.card__title__trust {
  font-size: 22px;
  font-weight: 500;
  line-height: 30px;
}
.trust__data__card {
  color: rgba(0, 0, 0, 1);
  opacity: 20%;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}
/* articles */
.trust__articles {
  background: rgba(118, 69, 239, 1);
  border-radius: 30px;
  color: white;
  max-height: 320px;
}
.trust__block1__text {
  border-bottom: 2px solid rgba(255, 255, 255, 0.495);
  margin: 20px;
}
.trust__block2__text {
  border-bottom: 2px solid rgba(255, 255, 255, 0.495);
  margin: 20px;
}
.trust__block3__text {
  margin: 20px;
}

.trust__text {
  width: 297px;
  color: #fff;
  font-family: DINPro;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 142.857% */
}

@media (max-width:376px){
  .trust {
    width: 100%;
    margin: auto;
  }
  .trust__title {
    width: 90%;
    margin: auto;
    color: #000;
    font-family: DINPro;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px; /* 100% */
  }
  
  .card__trust {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .trust__container{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 30px;
  }
  .trust__card__title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }
  
  
  .card__img__trust {
    border-radius: 20px;
    width: 350px;
    height: 270px;
  }
  .card__title {
    height: 90px;
  }
  /* Add some padding inside the card container */
  .container__trust__text {
    width: 80%;
    height: 100px;
  }
  .card__title__trust {
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
  }
  .trust__data__card {
    color: rgba(0, 0, 0, 1);
    opacity: 20%;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }
  /* articles */
  .trust__articles {
    background: rgba(118, 69, 239, 1);
    border-radius: 30px;
    color: white;
    max-height: 320px;
  }
  .trust__block1__text {
    border-bottom: 2px solid rgba(255, 255, 255, 0.495);
    margin: 20px;
  }
  .trust__block2__text {
    border-bottom: 2px solid rgba(255, 255, 255, 0.495);
    margin: 20px;
  }
  .trust__block3__text {
    margin: 20px;
  }
  
  .trust__text {
    width: 297px;
    color: #fff;
    font-family: DINPro;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 142.857% */
  }
}