.realitiv{
    max-width: 1600px;
    margin: 0 auto;
    font-family: "DINPRo-Black";
    position: relative;
}

@media(max-width: 376px){
    .realitiv{
        margin: 0 auto;
        font-family: "DINPRo-Black";
        position: relative;
    }
}