.nav {
  width: 100%;
  background: #7645ef;
}
/* more-item */
.more__item {
  width: 90%;
  margin: auto;
  height: 400px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.more__text__h1 {
  font-size: 65px;
  color: white;
  font-weight: 500;
  letter-spacing: 5px;
  line-height: 90px;
}
#answers {
  background: #f5bde2;
  color: black;
  border-radius: 20px 20px 20px 0px;
}
#questions {
  background: #fffdbb;
  color: black;
  border-radius: 20px 20px 0px 20px;
}
.more__text__sharing {
  font-size: 22px;
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 36px;
}
.more__rigth {
  position: relative;
  top: 135px;
}

/* mobile */
.more__text__gradient__mobile {
  display: none;
}

/* adaptasiy  */
@media (max-width: 376px) {
  .more__item {
    width: 90%;
    margin: auto;
    height: 280px;
    align-items: center;
    position: relative;
  }
  .more__text__h1 {
    font-size: 30px;
    color: white;
    font-weight: 500;
    line-height: 40px;
  }
  .more__text__gradient {
    display: none;
  }
  .more__text__gradient__mobile {
    display: block;
    width: 312px;
    align-items: center;
    text-align: center;
  }
  .more__text__sharing {
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-size: 14px;
    line-height: 20px; /* 156.25% */
  }
  .more__rigth {
    position: absolute;
    top: 224px;
    right: 0;
  }
  .more__mask {
    width: 82.27px;
    height: 82.27px;
    transform: rotate(15deg);
    flex-shrink: 0;
  }
}
