.container {
  width: 100%;
  margin: auto;
}
/* nav-bye-now */
.nav {
  width: 100%;
  margin: auto;
  background: #fbe982;
  display: flex;
  align-items: center;
}
.nav-navigation {
  display: flex;
  padding-right: 10px;
}
.nav-atlas-header {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.nav-atlas-header-img {
  width: 50px;
  height: 50px;
}
.nav-text-header {
  font-size: 16px;
}

.nav-btn-bye {
  width: 100px;
  padding: 10px;
  background: #000000;
  border-radius: 100px;
  color: white;
}

/* nav-search */
.nav-container {
  width: 100%;
  margin: auto;
  background: #7645ef;
  height: 400px;
}
.nav-search {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-between;
}
.nav-left {
  display: flex;
  align-items: center;
}
.nav-rigth {
  display: flex;
  align-items: center;
  gap: 16px;
}
.item-nav ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  list-style: none;
  color: white;
  font-size: 16px;
}

/* more-item */
.more-item {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.more-text-h1 {
  font-size: 65px;
  color: white;
  font-weight: 500;
  letter-spacing: 5px;
  line-height: 80px;
}
#answers {
  background: #f5bde2;
  color: black;
  border-radius: 20px 20px 20px 0px;
}
#questions {
  background: #fffdbb;
  color: black;
  border-radius: 20px 20px 0px 20px;
}
.more-text-sharing {
  font-size: 22px;
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 30px;
}
.more-rigth {
  position: relative; 
  top: 160px;
}
