/* nav-bye-now */
.nav {
  width: 100%;
  background: #fbe982;
  display: flex;
  align-items: center;
  transition: 0.3s;
}
.sticky {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 999;
}
.nav__center {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.nav__navigation {
  display: flex;
  padding-right: 10px;
}
.btn__navigator__x {
  border: none;
  background: none;
}
.btn__navigator__x__m {
  border: none;
  background: none;
}
.nav__atlas__header {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.nav__atlas__header__img {
  width: 50px;
  height: 50px;
}
.nav__text__header {
  font-size: 16px;
}

.nav__btn__bye {
  width: 100px;
  padding: 10px;
  background: #000000;
  border-radius: 100px;
  color: white;
}

/* nav-search */
.nav__search {
  display: flex;
  width: 100%;
  margin: auto;
  padding-top: 20px;
  justify-content: space-between;
  background: #7645ef;
}
.nav__left {
  display: flex;
  gap: 20px;
  align-items: center;
}
.nav__rigth {
  display: flex;
  align-items: center;
  gap: 16px;
}
.item__nav ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 22px;
  align-items: center;
  list-style: none;
  color: white;
  font-size: 18px;
}

/* searchmew */
.searchmew {
  width: 100%;
  background: #7645ef;
  position: fixed;
}
/* new search */
.nev__search {
  display: flex;
  width: 100%;
  margin: auto;
  padding-top: 20px;
  justify-content: space-between;
  background: #7645ef;
}
.nev__left {
  width: 25%;
  align-items: center;
  display: flex;
}
.center {
  width: 90%;
  margin: auto;
  display: flex;
  position: relative;
  gap: 50px;
}
.nav__absolute {
  position: absolute;
  left: 0px;
}
.nav__inp__div {
  max-width: 1000px;
  ::-webkit-input-placeholder {
    /* WebKit browsers */
    color: white;
    padding-left: 25px;
  }
}
.nav_input {
  position: relative;
  display: flex;
  margin: 20px;
  color: #fff;
}
.inp {
  max-width: 1000px;
  background: #7645ef;
  border: none;
  border-bottom: 1px solid white;
  color: #fff;
  align-items: center;
}

/* burger btn */
.wrapper__burger {
  display: none;
}
.new__div {
  background: #7645ef;
  padding-top: 20px;
}
.burger__btn {
  width: 30px;
  height: 30px;
  position: relative;
  top: 15px;
  left: 326px;
  z-index: 2;
  overflow: hidden;
  background-color: black;
}
.burger__btn span {
  width: 30px;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  transition: all 0.5s;
}
.burger__btn span:nth-of-type(2) {
  top: calc(50% - 8px);
}
.burger__btn span:nth-of-type(3) {
  top: calc(50% + 8px);
}
.burger__menu {
  position: fixed;
  top: 0;
  left: 0%;
  width: 250px;
  height: 350px;
  padding: 15px;
  background: rgba(24, 24, 24, 0.95);
  transform: translateY(-100%);
  transition: transform 0.5s;
}
.burger__menu.active {
  transform: translateX(0);
}
.burger__menu li {
  list-style-type: none;
}
.burger__btn span:nth-of-type(1) {
  width: 22px;
}
.burger__btn.active span:nth-of-type(1) {
  display: none;
}
.burger__btn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}
.burger__btn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}

/* адаптасия мобилный версия */
@media (max-width: 420px) {
  .sticky {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  .center {
    width: 90%;
    margin: auto;
    position: relative;
    display: flex;
    gap: 20px;
  }
  .nav__atlas__header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .nav__text__header__m {
    order: 1;
    width: 70%;
  }
  .nav__btn {
    order: 2;
    width: 50%;
  }
  .nav__atlas__img {
    order: 3;
  }
  .nav__navigation {
    position: relative;
  }
  .btn__navigator__x {
    position: absolute;
    bottom: 25px;
    right: 25px;
  }

  /* nav search */
  .nav__search {
    display: none;
  }
  .wrapper__burger {
    display: block;
  }
  .burger__menu {
    width: 420px;
    height: 550px;
    background: #fff;
  }
  .new__btn{
    display: flex;
    justify-content: center;
  }
  .nav__rigth__mobile{
    display: flex;
    justify-content: center;
    margin-top: 86px;
  }
  .mobile__nav ul li {
    color: var(--colors-black-base, #000);
    text-align: center;
    font-family: DINPro;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 30px;
  }
  .new__btn__test {
    display: inline-flex;
    padding: 13px 20px 17px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    background: var(--colors-blue-base, #00beff);
    border: none;
    color: var(--white, #fff);
    font-family: DINPro;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 95.238% */
  }
  .new__div {
    display: flex;
    gap: 15px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .logo__Group {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .burger__btn {
    background: none;
    position: relative;
    top: 0px;
    left: 0px;
  }
  .inp {
    max-width: 0;
    min-width: 200px;
  }
  .btn__navigator__x__m {
    position: absolute;
    bottom: 0px;
    right: 2px;
    background: none;
  }
  .burger__menu.active {
    transform: translateX(0);
  }
  .burger__menu li {
    list-style-type: none;
  }
  .burger__btn span:nth-of-type(1) {
    width: 22px;
  }
  .burger__btn.active span:nth-of-type(1) {
    display: none;
  }
  .burger__btn.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
    background: black;
  }
  .burger__btn.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
    background: black;
  }
  .btn__m {
    background: none;
  }
}
