.urban__container {
  width: 90%;
  margin: auto;
  background: rgba(255, 255, 255, 1);
}
.card__articles {
  display: flex;
  width: 100%;
  margin: auto;
  gap: 20px;
}

.urban__title {
  font-family: "DINPro", sans-serif;
  font-size: 65px;
  font-weight: 400;
  line-height: 70px;
}
.urban__data {
  font-size: 25px;
  line-height: 34px;
  color: rgba(0, 0, 0, 1);
  opacity: 20%;
}
.urban__data__card {
  color: rgba(0, 0, 0, 1);
  opacity: 20%;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}
.urbancard__container {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.card {
  padding: 20px;
  width: 320px;
}

.card__img {
  border-radius: 20px;
  width: 300px;
  height: 250px;
}
.card__title {
  height: 120px;
}
.uraban__card__title {
  font-size: 22px;
  font-weight: 500;
  line-height: 30px;
}
/* Add some padding inside the card container */
.container__urban__text {
  width: 75%;
  height: 100px;
}
/* articles */
.top__articles {
  width: 30%;
  padding: 10px;
}
.articl {
  width: 100%;
  margin: auto;
  padding: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.articl__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
}
.articl__number {
  color: rgba(0, 0, 0, 1);
  opacity: 20%;
  font-weight: 400;
  font-size: 37px;
  line-height: 48px;
}

/* mediy */
@media (max-width: 420px) {
  .urban__container {
    width: 90%;
    margin-top: 225px;
  }
  .card {
    padding: 0px;
  }
  .card__articles {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .urban__title {
    font-family: "DINPro", sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
  }
  .urban__data {
    font-size: 25px;
    line-height: 34px;
    color: rgba(0, 0, 0, 1);
    opacity: 20%;
    text-align: center
  }
  .urban__data__card {
    color: rgba(0, 0, 0, 1);
    opacity: 20%;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }
  .urbancard__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }

  .card__img {
    border-radius: 20px;
    width: 300px;
    height: 250px;
  }
  .card__title {
    height: 70px;
  }
  .uraban__card__title {
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
  }
  /* Add some padding inside the card container */
  .container__urban__text {
    width: 85%;
    height: 80px;
  }
  /* articles */
  .top__articles {
    width: 100%;
    padding: 0px;
  }
  .articl {
    width: 100%;
    margin: auto;
    padding: 5px;
    display: flex;
    gap: 5px;
    align-items: center;
  }
  .articl__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
  }
  .articl__number {
    color: rgba(0, 0, 0, 1);
    opacity: 20%;
    font-weight: 400;
    font-size: 37px;
    line-height: 48px;
  }
}
