.contener {
  max-width: 1550px;
  margin: 0 auto;
  font-family: "DINPRo-Black";
  position: relative;
}

@media (max-width: 420px){
  .contener {
    max-width: 420px;
    margin: 0 auto;
    font-family: "DINPRo-Black";
    position: relative;
    overflow: hidden;
  }
}